<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<bean id="SpringContextUtil" class="com.gcrm.util.spring.SpringContextUtil" />
	
	<!-- Postgres Data Source -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
        <property name="driverClassName" value="org.postgresql.Driver"> 
        </property> 
        <property name="url" value="jdbc:postgresql://localhost:5432/grass"> 
        </property> 
        <property name="username" value="postgres"></property> 
        <property name="password" value="postgres"></property> 
    </bean> 
 
 	<bean id="lobHandler"
		class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true">
	</bean>
	
    <bean id="sessionFactory" 
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
        <property name="dataSource"> 
            <ref bean="dataSource" /> 
        </property> 
	   <property name="mappingDirectoryLocations">
	       <list>
	           <value>WEB-INF/classes/com/gcrm/domain/hbm</value>
            </list>
       </property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.PostgreSQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.c3p0.max_size">130</prop>
				<prop key="hibernate.c3p0.min_size">10</prop>
				<prop key="hibernate.c3p0.timeout">120</prop>
				<prop key="hibernate.c3p0.max_statements">100</prop>
				<prop key="hibernate.c3p0.idle_test_period">120</prop>
				<prop key="hibernate.c3p0.acquire_increment">5</prop>
				<prop key="hibernate.c3p0.validate">true</prop>
			</props>
		</property>   
		<property name="lobHandler">   
         	<ref local="lobHandler"/>   
        </property> 				    
    </bean> 
 
    <!-- hibernateTransactionManager--> 
    <bean id="grassTransactionManager" 
        class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
        <property name="sessionFactory"> 
            <ref bean="sessionFactory" /> 
        </property> 
    </bean> 


    <!-- Annotation -->
    <tx:annotation-driven transaction-manager="grassTransactionManager" />

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
      <property name="corePoolSize" value="10"/>
      <property name="maxPoolSize" value="30"/>
    </bean>

	<!-- Dao Config -->    
	<bean id="baseDao" class="com.gcrm.dao.BaseDao">
         <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>	

	<bean id="userDao" class="com.gcrm.dao.UserDao">
	     <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>	
    
    <!-- Services -->
    <bean id="baseService" class="com.gcrm.service.BaseService">
    	<property name="baseDao" ref="baseDao" />
    </bean>

    <bean id="optionService" class="com.gcrm.service.OptionService">
    	<property name="baseDao" ref="baseDao" />
    </bean> 
    
    <bean id="userService" class="com.gcrm.service.UserService">
    	<property name="baseDao" ref="baseDao" /> 
    	<property name="userDao" ref="userDao" />          	
    </bean> 

        
    <!-- Actions -->
    <bean id="homeAction" class="com.gcrm.action.HomeAction" scope="prototype">
        <property name="accountService" ref="baseService" />
        <property name="leadService" ref="baseService" />
        <property name="taskService" ref="baseService" />
        <property name="opportunityService" ref="baseService" />
        <property name="meetingService" ref="baseService" />
        <property name="callService" ref="baseService" />        
    </bean>
   
    <bean id="totalfilterAction" class="com.gcrm.action.TotalFilter" scope="prototype">   
    </bean>
            
    <bean id="listAccountAction" class="com.gcrm.action.ListAccountAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 

    <bean id="editAccountAction" class="com.gcrm.action.EditAccountAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="accountTypeService" ref="optionService" /> 
        <property name="industryService" ref="optionService" /> 	
        <property name="userService" ref="baseService" /> 
        <property name="campaignService" ref="baseService" />
        <property name="targetListService" ref="baseService" /> 
        <property name="documentService" ref="baseService" />  
    </bean> 
            
    <bean id="listCampaignAction" class="com.gcrm.action.ListCampaignAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editCampaignAction" class="com.gcrm.action.EditCampaignAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="campaignTypeService" ref="optionService" /> 
        <property name="campaignStatusService" ref="optionService" /> 	
        <property name="currencyService" ref="baseService" /> 
        <property name="userService" ref="baseService" /> 
    </bean>         

    <bean id="listCallAction" class="com.gcrm.action.ListCallAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editCallAction" class="com.gcrm.action.EditCallAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="callStatusService" ref="optionService" />
        <property name="callDirectionService" ref="optionService" /> 
        <property name="reminderOptionService" ref="optionService" /> 	
        <property name="userService" ref="baseService" /> 
        <property name="accountService" ref="baseService" />
        <property name="caseService" ref="baseService" />
        <property name="contactService" ref="baseService" />
        <property name="leadService" ref="baseService" />
        <property name="opportunityService" ref="baseService" />
        <property name="targetService" ref="baseService" />
        <property name="taskService" ref="baseService" />
    </bean>  

    <bean id="listCaseAction" class="com.gcrm.action.ListCaseAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editCaseAction" class="com.gcrm.action.EditCaseAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="caseStatusService" ref="optionService" /> 
        <property name="casePriorityService" ref="optionService" /> 	
        <property name="caseTypeService" ref="optionService" />
        <property name="caseOriginService" ref="optionService" />
        <property name="caseReasonService" ref="optionService" />                
        <property name="accountService" ref="baseService" /> 	
        <property name="userService" ref="baseService" />  
        <property name="documentService" ref="baseService" /> 
        <property name="contactService" ref="baseService" />         
    </bean>

    <bean id="listContactAction" class="com.gcrm.action.ListContactAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editContactAction" class="com.gcrm.action.EditContactAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="accountService" ref="baseService" /> 
        <property name="leadSourceService" ref="optionService" /> 	
        <property name="salutationService" ref="optionService" />	
        <property name="userService" ref="baseService" />
        <property name="campaignService" ref="baseService" /> 
        <property name="opportunityService" ref="baseService" />
        <property name="targetListService" ref="baseService" />
        <property name="callService" ref="baseService" />
        <property name="meetingService" ref="baseService" />
        <property name="documentService" ref="baseService" /> 
        <property name="caseService" ref="baseService" />      	
    </bean>

    <bean id="listDocumentAction" class="com.gcrm.action.ListDocumentAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editDocumentAction" class="com.gcrm.action.EditDocumentAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="documentStatusService" ref="optionService" /> 
        <property name="documentCategoryService" ref="optionService" /> 	
        <property name="documentSubCategoryService" ref="optionService" />
        <property name="userService" ref="baseService" />
        <property name="accountService" ref="baseService" /> 
        <property name="contactService" ref="baseService" />  
        <property name="opportunityService" ref="baseService" /> 
        <property name="caseService" ref="baseService" />          	
    </bean>

    <bean id="listLeadAction" class="com.gcrm.action.ListLeadAction" scope="prototype">   
        <property name="baseService" ref="baseService" /> 
    </bean> 
    
    <bean id="editLeadAction" class="com.gcrm.action.EditLeadAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="accountService" ref="baseService" /> 
        <property name="leadStatusService" ref="optionService" />
        <property name="leadSourceService" ref="optionService" /> 	
        <property name="salutationService" ref="optionService" />	
        <property name="campaignService" ref="baseService" />
        <property name="userService" ref="baseService" /> 
        <property name="opportunityService" ref="baseService" /> 
        <property name="targetListService" ref="baseService" />
        <property name="callService" ref="baseService" />  
        <property name="meetingService" ref="baseService" /> 
        <property name="contactService" ref="baseService" />         
    </bean>

    <bean id="listMeetingAction" class="com.gcrm.action.ListMeetingAction" scope="prototype">   
        <property name="baseService" ref="baseService" />   
    </bean> 
    
    <bean id="editMeetingAction" class="com.gcrm.action.EditMeetingAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="meetingStatusService" ref="optionService" /> 
        <property name="reminderOptionService" ref="optionService" /> 	
        <property name="userService" ref="baseService" />
        <property name="accountService" ref="baseService" />
        <property name="caseService" ref="baseService" />
        <property name="contactService" ref="baseService" />
        <property name="leadService" ref="baseService" />
        <property name="opportunityService" ref="baseService" />
        <property name="targetService" ref="baseService" />
        <property name="taskService" ref="baseService" /> 
    </bean>

    <bean id="listOpportunityAction" class="com.gcrm.action.ListOpportunityAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editOpportunityAction" class="com.gcrm.action.EditOpportunityAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="accountService" ref="baseService" /> 
        <property name="currencyService" ref="baseService" /> 	
        <property name="opportunityTypeService" ref="optionService" />
        <property name="salesStageService" ref="optionService" />
        <property name="leadSourceService" ref="optionService" /> 
        <property name="campaignService" ref="baseService" />
        <property name="contactService" ref="baseService" /> 	
        <property name="userService" ref="baseService" /> 
        <property name="documentService" ref="baseService" />  	         	
    </bean>

    <bean id="listTargetAction" class="com.gcrm.action.ListTargetAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editTargetAction" class="com.gcrm.action.EditTargetAction" scope="prototype">   
        <property name="baseService" ref="baseService" /> 
        <property name="accountService" ref="baseService" /> 	
        <property name="salutationService" ref="optionService" />	
        <property name="leadService" ref="baseService" />
        <property name="userService" ref="baseService" />
        <property name="targetListService" ref="baseService" /> 	         	
    </bean>
    
    <bean id="listTargetListAction" class="com.gcrm.action.ListTargetListAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 
    
    <bean id="editTargetListAction" class="com.gcrm.action.EditTargetListAction" scope="prototype">   
        <property name="baseService" ref="baseService" /> 
        <property name="userService" ref="baseService" /> 	         	
    </bean>    

    <bean id="listTaskAction" class="com.gcrm.action.ListTaskAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
    </bean> 

    <bean id="editTaskAction" class="com.gcrm.action.EditTaskAction" scope="prototype">   
        <property name="baseService" ref="baseService" />
        <property name="taskStatusService" ref="optionService" /> 
        <property name="contactService" ref="baseService" /> 	
        <property name="taskPriorityService" ref="optionService" /> 
        <property name="userService" ref="baseService" /> 
        <property name="accountService" ref="baseService" />
        <property name="caseService" ref="baseService" />
        <property name="leadService" ref="baseService" />
        <property name="opportunityService" ref="baseService" />
        <property name="targetService" ref="baseService" />
        <property name="taskService" ref="baseService" />        
    </bean>
           
</beans>
